* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* principal */
  --red-color: #E3646E;
  --purple-color: #BB72E9;
  --blue-color: #3996DB;
  --green-color: #82BC4F;
  --yellow-color: #EABD5F;

  /* Base */
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /* Fontes de texto*/

  --font-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  --font-inconsolata: "Inconsolata", sans-serif;
  --subtitle: 400 20px/120% var(--font-inconsolata);

  --font-maven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);

}

body {
  color: var(--gray-100);
  background-size: cover;
}

#page {
  width: 100%;
  height: 750px;
  margin-inline: auto;
}

.container h1,
.container h2,
.container p {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font: inherit;
}

.content-tag {
  flex-direction: row;
  justify-content: center;
  align-items: end;
  background-color: var(--gray-400);
  padding: 8px 16px;
  border-radius: 999px;
}
