* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* principal */
  --red-color: #E3646E;
  --purple-color: #BB72E9;
  --blue-color: #3996DB;
  --green-color: #82BC4F;
  --yellow-color: #EABD5F;

  /* Base */
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /* Fontes de texto*/

  --font-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  --font-inconsolata: "Inconsolata", sans-serif;
  --subtitle: 400 20px/120% var(--font-inconsolata);

  --font-maven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven1);

}

body {
  font: var(--title-lg);
  color: var(--gray-100);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--blue-color);
}

h1, h2, h3 {
  font: inherit;
}