

.primary {
  padding-block: 120px;
  
  span {
    color: var(--red-color);
  }
}

.info {
  img {
  width: 112px;
  margin-bottom: 56px;
  
  }
}
.tags {
  gap: 16px;
  margin-top: 80px;     

   a {
    display: flex;
    align-items: center;     
    gap: 8px;
    padding-left: 35px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }

  
a.gray {
  background-image: url(../assets/icons/GitHub.svg);
}

a.gray:hover {
  color: var(--gray-200);
  background-image: url(../assets/icons/GitHubgray.svg);
}

a.red {
  background-image: url(../assets/icons/HTML.svg);
}

a.red:hover {
    color: var(--red-color);
    background-image: url(../assets/icons/HTMLred.svg);
}

a.blue {
  background-image: url(../assets/icons/CSS.svg);
}

a.blue:hover {
    color: var(--blue-color);
    background-image: url(../assets/icons/CSSblue.svg);
}

a.yellow {
  background-image: url(../assets/icons/JavaScript.svg);
}

a.yellow:hover {
    color: var(--yellow-color);
    background-image: url(../assets/icons/JavaScriptYellow.svg);
}

a.blueR {
  background-image: url(../assets/icons/React.svg);
}

a.blueR:hover {
    color: var(--blue-color);
    background-image: url(../assets/icons/Reactblue.svg);
}

a.green {
  background-image: url(../assets/icons/Node.js.svg);
}

a.green:hover {
    color: var(--green-color);
    background-image: url(../assets/icons/Node.jsgreen.svg);
}

}