.container {
  justify-items: center;
  text-align: center;
  row-gap: 20px;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}


.caret-container {
  justify-content: center;
  margin-top: 94px;
}

.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

.bottom-56 {
  margin-bottom: 56px;
}

.grid-cols-2 {
  grid-template-columns: repeat(3, 330px);
  gap: 24px; 
  justify-content: center; 
}

